header {
    display: flex;
    justify-content: space-between;
    background-color: #333233;
    border-bottom: 10px solid #FFFF00;
    padding: 10px 20px;
}
img {
    width: 60px;
    height: 60px;
}
nav {
    text-align: right;
}
a {
    display: inline-flex;
    align-items: center;
    color: #FFFF00;
    font-size: 20px;
    font-family: "Fira Code", "Roboto Mono", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}
a::before {
    content: "";
    background-color: #FFFF00;
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

#button {
    display: inline-block;
    color: #000000;
    padding: 18px 20px;
    margin: 0px;
    background-color: #FFFF00;
    box-shadow: 5px 5px 0 #000;
}

#button:hover {
    background-color: #B87D00;
    transition: background-color .2s;
    transform: translateY(3px) translateX(2px);
    transition: translate .5s;
    box-shadow: 0px 0px 0 #000;
}