:root {
    --color-first: #4A2C05;
    --color-second: #A75522;
    --color-third: #D8771D;
    --color-fourth: #FFAC53;
    --color-fifth: #FFE483;
    --color-black-first: #000;
    --color-black-second: #222222;
    --color-black-third: #515151;
    --color-black-fourth: #A9ACA9;
    --color-black-fifth: #BFC3BA;
}
