:root {
    --color-first: #4A2C05;
    --color-second: #A75522;
    --color-third: #D8771D;
    --color-fourth: #FFAC53;
    --color-fifth: #FFE483;
    --color-black-first: #000;
    --color-black-second: #222222;
    --color-black-third: #515151;
    --color-black-fourth: #A9ACA9;
    --color-black-fifth: #BFC3BA;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-fourth);
    padding: 10px 20px;
}

img {
    width: 60px;
    height: 60px;
}

nav {
    text-align: right;
}

.header-items {
    display: inline-flex;
    align-items: center;
    color: var(--color-fifth);
    font-size: 20px;
    font-family: "Fira Code", "Roboto Mono", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: color 200ms linear, transform 100ms linear;
}

.header-items::before {
    content: "";
    background-color: var(--color-fifth);
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

.header-items:hover {
    transform: scale(1.05);
    color: var(--color-third);
}

#page-hero {
    background-image: url("../assets/img/background-pixelate.png"), url("../assets/img/background-image-normal.png");
    background-size: contain, contain;
    background-color: var(--color-fourth);
    background-repeat: no-repeat, no-repeat;
    background-position: left, right;
    height: 750px
}

.page-hero-button {
    margin-right: 110px;
}
.page-hero-button:first-child {
    margin-left: 180px;
    margin-right: 110px;
}