:root {
    --color-first: #4A2C05;
    --color-second: #A75522;
    --color-third: #D8771D;
    --color-fourth: #FFAC53;
    --color-fifth: #FFE483;
    --color-black-first: #000;
    --color-black-second: #222222;
    --color-black-third: #515151;
    --color-black-fourth: #A9ACA9;
    --color-black-fifth: #BFC3BA;
}


header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-first);
    border-bottom: 10px solid var(--color-third);
    padding: 10px 20px;
}
img {
    width: 60px;
    height: 60px;
}
nav {
    text-align: right;
}
a {
    display: inline-flex;
    align-items: center;
    color: var(--color-fifth);
    font-size: 20px;
    font-family: "Fira Code", "Roboto Mono", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: color 200ms linear, transform 100ms linear;
}
a::before {
    content: "";
    background-color: var(--color-fifth);
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

a:hover {
    transform: scale(1.05);
    color: var(--color-third);
}

#button {
    display: inline-block;
    color: #000000;
    padding: 18px 20px;
    margin: 0px;
    background-color: var(--color-fifth);
    box-shadow: 5px 5px 0 #000;
    transition: transform 150ms cubic-bezier(0.14, -0.87, 1, 3.82), background-color 100ms linear;
}

#button:hover {
    background-color: var(--color-third);
    transform: translateY(3px) translateX(2px);
    box-shadow: 0px 0px 0 #000;
}