:root {
    --color-first: #241703;
    --color-second: #5D450B;
    --color-third: #9A6520;
    --color-fourth: #C3A726;
    --color-fifth: #F4D79A;
    --color-black-first: #000;
    --color-black-second: #222222;
    --color-black-third: #515151;
    --color-black-fourth: #A9ACA9;
    --color-black-fifth: #BFC3BA;
}
