
.box {
    display: inline-block;
    background-color: var(--color-black-second);
    filter: drop-shadow(10px 10px 0px var(--color-black-first));
    padding: 42px 25px;
    padding-left: 40px;
}
.box .title{
    margin-bottom: 20px;
}