.header-items {
    display: inline-flex;
    align-items: center;
    color: var(--color-fifth);
    font-size: 20px;
    font-family: "Fira Code", "Roboto Mono", sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
    transition: color 200ms linear, transform 100ms linear;
}

.header-items::before {
    content: "";
    background-color: var(--color-fifth);
    margin-right: 10px;
    width: 10px;
    height: 10px;
}

.header-items:hover {
    transform: scale(1.05);
    color: var(--color-third);
}
