.main-button {
    display: inline-block;
    color: #000000;
    padding: 18px 20px;
    margin: 0px;
    font-size: 20px;
    background-color: var(--color-fifth);
    text-decoration: none;
    box-shadow: 5px 5px 0 #000;
    transition: transform 150ms cubic-bezier(0.14, -0.87, 1, 3.82), background-color 100ms linear, box-shadow 100ms linear;
}

.main-button:hover {
    background-color: var(--color-fourth);
    transform: translateY(3px) translateX(2px);
    box-shadow: 0px 0px 0 #000;
}