.main-carousel {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 85px;
    padding-right: 85px;
}

.main-carousel::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 30px;
    height: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: 5px solid black;
}

.main-carousel .button-arrow {
    position: absolute;
    bottom: 70px;
    transform: translateY(50%);
}
.main-carousel .button-arrow.-left {
    left: 15px;
}
.main-carousel .button-arrow.-right {
    right: 15px;
}