.main-section {
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid var(--color-fourth);
}

.main-section .main-title {
    margin-bottom: 60px;
}

.main-section.-bgBeige{
    background-color: var(--color-fifth);
    border-color: var(--color-third);
}

.main-section.-bgDarkMossGreen {
    background-color: var(--color-first);
    border-color: var(--color-fifth);
}