
.page-hero-box {
    display: inline-block;
    background-color: var(--color-black-fourth);
    border: 1px solid var(--color-black-third);
    filter: drop-shadow(10px 10px 0px var(--color-black-second));
    padding: 42px 25px;
    padding-left: 40px;
}
.page-hero-box .main-title{
    margin-bottom: 20px;
}