.progress-bar{
    border: 5px solid var(--color-black-first);
    height: 40px;
    box-sizing: border-box;
}

.progress-bar::-webkit-progress-bar {
    background-color: var(--color-fifth);
}

.progress-bar::-moz-progress-bar {
    background-color: var(--color-fifth);
}

.progress-bar::-webkit-progress-value {
    background-color: var(--color-third);
}

.progress-bar::-moz-progress-value {
    background-color: var(--color-third);
}
