.project-card {
    background-color: var(--color-third);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 280px;
    border: 2px solid var(--color-black-first);
    box-shadow: 10px 10px 0px #FFF;
    transition: transform 100ms, box-shadow 100ms, background-color 200ms;
}
.project-card.-yellow {
    background-color: var(--color-fourth);
}

.project-card.-gray {
    background-color: var(--color-black-fourth);
}

.project-card:hover {
    box-shadow: none;
    background-color: var(--color-second);
    transform: translateX(10px) translateY(10px);
}

.project-card .icon {
    width: 245px;
    height: 254px;
}
