.project-box {
    background-color: var(--color-third);
    display: inline-block;
    padding: 17px 35px;
    border: 2px solid var(--color-black-first);
    box-shadow: 10px 10px 0px var(--color-fourth);
    transition: transform 100ms, box-shadow 100ms, background-color 200ms;
}

.project-box:hover {
    box-shadow: none;
    background-color: var(--color-second);
    transform: translateX(10px) translateY(10px);
}

.project-box .icon {
    width: 245px;
    height: 254px;
}
