.score-title {
    font-size: 25px;
    margin-bottom: 16px;
    font-family: "Press Start 2P", "Roboto Mono", sans-serif;
}

.score-item {
    display: flex;
    align-items: center;
}

.score-icon {
    width: 90px;
    height: 90px;
}

.score-box {
    display: flex;
    flex-direction: column;
    margin-left: 27px;
}

.score {
    background-color: var(--color-fifth);
    display: inline-block;
    border: 5px solid var(--color-black-first);
    width: 300px;
}
.score-lvl {
    height: 30px;
    background-color: var(--color-third);
}