.skill-tec {
    font-family: "Press Start 2P", "Roboto Mono", sans-serif;
    font-size: 25px;
    color: var(--color-black-first);
    display: flex;
    grid-gap: 27px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    grid-gap: 16px;
    justify-content: center;
}