.skills {
    background-color: var(--color-fifth);
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 60px;
    padding-bottom: 110px;
}

.skills-grid {
    display: flex;
    grid-gap: 50px;
}

.skills-box {
    display: grid;
    flex-wrap: wrap;
    grid-gap: 38px;
}

.skills .title {
    margin-top: 50px;
    display: block;
}
